# DiT-B/2 ImageNet Configuration (Latent Mode Optimized)

data:
  # 【关键修改 1】指向预处理好的 Latent 目录
  # 之前是: /work/c30778/dataset/imagenet/
  data_path: "/work/c30778/imagenet_rc10_lat/"
  image_size: 256
  num_workers: 32  # Latent 读取很快，可以适当增加 worker

model:
  # DiT-B Config
  input_size: 32      # 256 / 8
  patch_size: 2       # DiT-B/2
  in_channels: 4
  hidden_size: 768    # DiT-B hidden size
  depth: 12           # DiT-B layers
  num_heads: 12       # DiT-B heads
  learn_sigma: True
  num_classes: 1000

diffusion:
  num_timesteps: 1000
  beta_start: 0.0001
  beta_end: 0.02
  schedule: "cosine"  # 强烈建议使用我们添加的 Cosine Schedule

training:
  epochs: 40
  
  # 以前跑 Pixel 时可能只能开 32-64，现在 Latent 模式下 H100 可以轻松跑 128-256
  batch_size: 256     
  
  lr: 0.0001          # 1e-4
  results_dir: "./results/dit_b_2_latent-v4"
  use_amp: True       # 混合精度
  seed: 42
  log_interval: 1
  save_interval: 1
  
  # 调试参数 (正式训练请注释掉或设为 null)
  # max_train_steps: 100